// Color
$color-marker: #df3d3a;
$color-text-title: #e7e7e7;
$color-text-primary: #fff;
$color-background: #191919;
$color-headphone: #000;

// fonts
$fontFamily: 'Gilroy', sans-serif;
$secondFamily: 'Roboto Condensed', sans-serif;
$thirdFamily: 'Roboto', sans-serif;
