<article class="benefist">
  <div class="container">
    <h2 class="benefist__title">capable of so much</h2>
    <div class="benefist__list">
      <ul class="benefist__list--one">
        <li class="benefist__item">
          <a href="#" class="benefist__link">Ability to receive calls</a>
        </li>
        <li class="benefist__item">
          <a href="#" class="benefist__link"
            >Active noise cancellation option</a
          >
        </li>
        <li class="benefist__item">
          <a href="#" class="benefist__link">
            Active noise cancellation option</a
          >
        </li>
      </ul>
      <ul class="benefist__list--two">
        <li class="benefist__item">
          <a href="#" class="benefist__link">Unsurpassed microphone system</a>
        </li>
        <li class="benefist__item">
          <a href="#" class="benefist__link">Support of voice assistants</a>
        </li>
        <li class="benefist__item">
          <a href="#" class="benefist__link"
            >Bose AR Augmented Reality Audio Platform</a
          >
        </li>
      </ul>
    </div>
  </div>
</article>
