<section class="features" id="Characteristics>
  <div class="designs">
    <div class="design">
      <h2 class="design__title--premium">Premium design and comfort</h2>
      <h3 class="design__title">11 levels of noise reduction</h3>
      <p class="design__text">
        With the new Bose Noise Canceling Headphone 700, you can smoothly
        increase or decrease the level of noise cancellation. You can be heard
        perfectly and you hear the interlocutor clearly, even in a noisy
        environment!
      </p>
      <h3 class="design__title">Comfort up to max level</h3>
      <p class="design__text">
        Stylish, lightweight stainless steel headband with soft, angled cups of
        headphones for comfortable seating. The inner side is made of soft gel
        lining that fits well to the head.
      </p>
    </div>
    <div class="container__photo">
      <picture class="work__image">
        <source
          srcset="
            ./images/design/design-tablet.webp    1x,
            ./images/design/design-tablet@2x.webp 2x
          "
          media="(min-width: 768px) and (max-width: 1199px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/design/design.webp    1x,
            ./images/design/design@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/design/design.jpg    1x,
            ./images/design/design@2x.jpg 2x
          "
          media="(min-width: 768px) and (max-width: 1199px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/design/design.jpg    1x,
            ./images/design/design@2x.jpg 2x
          "
          type="image/jpeg"
        />

        <img
          src="./images/design/design.jpg"
          alt="Premium-design"
          class="design__photo"
        />
      </picture>
    </div>
  </div>
  <include src="./partials/benefist.html"></include>
  <include src="./partials/technology.html"></include>
  <include src="./partials/Guarantees.html"></include>
</section>
