<section class="faq">
  <div class="container">
    <h2 class="faq__title">faq</h2>
    <ul class="faq__list">
      <li class="faq__item">
        <div class="question">
          <h3 class="question__number">01</h3>
          <p class="question__name">How to pair with a mobile device?</p>
          <button class="question__mark">
            <span class="question__span">?</span>
          </button>
        </div>
      </li>
      <li class="faq__item">
        <div class="question">
          <h3 class="question__number">02</h3>
          <p class="question__name">
            What is the wireless range of the Bose NC 700?
          </p>
          <button class="question__mark">
            <span class="question__span">?</span>
          </button>
        </div>
      </li>
      <li class="faq__item">
        <div class="question">
          <h3 class="question__number">03</h3>
          <p class="question__name">
            How do I fold the Bose NC 700 headphones for storage?
          </p>
          <button class="question__mark">
            <span class="question__span">?</span>
          </button>
        </div>
      </li>
      <li class="faq__item">
        <div class="question">
          <h3 class="question__number">04</h3>
          <p class="question__name">Does the guarantee work internationaly?</p>
          <button class="question__mark">
            <span class="question__span">?</span>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
