<section class="guarantees">
  <div class="container-wide container__flex">
    <div class="gearantees__info--container">
      <h2 class="guarantees__titel">Guarantees</h2>
      <div class="guarantees__container">
        <svg class="guarantees__icon">
          <use href="./images/symbol-defs.svg#icon-cirlcle"></use>
        </svg>
        <h3 class="guarantees__subtitel">90 Day Money Back Guarantee</h3>
        <p class="guarantees__text">
          If you are not 100% satisfied with a product, you can return it back
          for a full refund.
        </p>
      </div>
      <div class="guarantees__container guarantees__container--active">
        <svg class="guarantees__icon">
          <use href="./images/symbol-defs.svg#icon-cirlcle"></use>
        </svg>
        <h3 class="guarantees__subtitel">1 year warranty</h3>
        <p class="guarantees__text">
          Regardless of your country of residence, if your headphones are
          broken, we will send you new ones.
        </p>
      </div>
    </div>

    <picture class="gearantees__photo">
      <source srcset="./images/guarantees/guarantee.jpg 1x, ./images/guarantees/guarantee@2x.jpg 2x">
      <img
      src="./images/guarantees/guarantee.webp"
      alt="guarantee"
    />
    </picture>
  </div>
</section>
