<div class="container-wide guarantees__container">
  <div class="gearantees__info--container">
    <div class="guarantees__info">
      <h2 class="guarantees__titel" data-aos="fade-left">Guarantees</h2>
      <div class="guarantees__texts" data-aos="fade-left">
        <svg class="guarantees__icon">
          <use href="./images/symbol-defs.svg#icon-cirlcle"></use>
        </svg>
        <h3 class="guarantees__subtitel" data-aos="fade-left">90 Day Money Back Guarantee</h3>
        <p class="guarantees__text" data-aos="fade-left">
          If you are not 100% satisfied with a product, you can return it back
          for a full refund.
        </p>
      </div>
      <div class="guarantees__texts guarantees__container--active">
        <svg class="guarantees__icon">
          <use href="./images/symbol-defs.svg#icon-cirlcle"></use>
        </svg>
        <h3 class="guarantees__subtitel">1 year warranty</h3>
        <p class="guarantees__text">
          Regardless of your country of residence, if your headphones are
          broken, we will send you new ones.
        </p>
      </div>
    </div>
    <picture class="gearantees__photo">
      <source
        srcset="
          ./images/guarantees/guarantee.webp    1x,
          ./images/guarantees/guarantee@2x.webp 2x
        "
      />
      <source
        srcset="
          ./images/guarantees/guarantee.jpg    1x,
          ./images/guarantees/guarantee@2x.jpg 2x
        "
      />
      <img src="./images/guarantees/guarantee.webp" alt="guarantee" />
    </picture>
  </div>
</div>
