<header class="header">
  <div class="container header__container">
    <a class="header__logotype" href="#"
      ><img class="logotype" src="./images/logo/bose-logo.svg" alt="Логотип"
    /></a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#">Characteristics</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">History</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Reviews</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Payment and delivery</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
