<header class="header">
  <div class="container header__container">
    <a class="header__logotype animate__animated  animate__backInDown" href="#"
      ><img class="logotype " src="./images/logo/bose-logo.svg" alt="Логотип"
    /></a>

    <div class="header__mobilmenu" data-menu>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#characteristics">Characteristics</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#history">History</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#reviews">Reviews</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#payment-and-delivery"
              >Payment and delivery</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <button class="header__btn" type="button" data-menu-button>
      <span class="header__btn--icon"></span>
    </button>
  </div>
</header>
