<section class="hero">
    <div class="hero__container">
        
        
        <div class="hero__main">
            <div class="text__container">
                <p class="hero__text">
                    Noise cancellation headphones <br> 
                    that are capable for a lot of things
                </p>
                <p class="hero__text">
                    Up to 20 hours <br>
                    of playback
                </p>
            </div>

        <div>
            <h2 class="hero__title">Headphones <br> Bose NC 700</h2>
            <button class="hero__button">order</button>
        </div>

        <div class="container__image">
            <img class="hero__image" src="./images/img goup.webp" alt="headphones">
        </div>
        </div>
    </div>
</section>