<section class="history">
  <div class="wide-container history__container">
    <div class="history__info--first">
      <h2 class="history__titel">brand creation history</h2>
      <p class="history__text">
        The history of Bose Corporation began with disappointment. In 1956, MIT
        graduate student Amar Bose bought one of the best stereo systems at the
        time for his home. After a few minutes of listening to the audio
        recording, his bewilderment turned to disappointment.
      </p>
      <img
        src="./images/history/history-1.png"
        alt="history"
        class="history__photo"
      />
      <div class="flex__container">
        <h2 class="history__titel--two">brand creation history</h2>
        <p class="history__text--two">
          The history of Bose Corporation began with disappointment. In 1956,
          MIT graduate student Amar Bose bought one of the best stereo systems
          at the time for his home. After a few minutes of listening to the
          audio recording, his bewilderment turned to disappointment.
        </p>
        <p class="history__text--activee">
          From Amar's point of view, the sound was so flat and unnatural that it
          was better not to listen to the music at all than to listen to it in
          such a distorted form.
        </p>
      </div>
    </div>
    <div class="history__info--last">
      <p class="history__text--active">
        Bose's frustration grew into a firm determination to build audio
        equipments that would reproduce sound with impeccable accuracy and
        naturalness
      </p>
      <img
        src="./images/history/history-2.png"
        alt="history"
        class="history__img"
      />
      <div class="boze">
        <p class="history__text--active--two">
          Bose's frustration grew into a firm determination to build audio
          equipments that would reproduce sound with impeccable accuracy and
          naturalness
        </p>
        <div class="dreams">
          <h3 class="dreams__titel">
            Never stop dreaming. Always dream of the best, and think about how
            to achieve it.
          </h3>
          <p class="dreams__subtitel">Amar Bose is a company founder</p>
        </div>
      </div>
    </div>
  </div>
</section>
