<section class="product" id="Payment-and-delivery">
  <div class="container-wide">
    <div class="product__container">
      <div class="titel__container">
        <h2 class="product__titel">bose nc 700</h2>
        <div class="slider">
          <ul class="slider__list" data-slides>
            <li class="slider__item">
              <img
                src="./images/products/headphones-black.jpg"
                alt="headphones"
                class="slider__photo"
              />
            </li>
            <li class="slider__item">
              <img
                src="./images/products/headphones-white.jpg"
                alt="headphones"
                class="slider__photo"
              />
            </li>
          </ul>
        </div>
      </div>
      <div class="product__info">
        <h2 class="product__titel--two" data-aos="fade-right">bose nc 700</h2>
        <div data-pagin class="product__buttons">
          <div class="product__buttons--container">
            <button data-slid="0" class="button"></button>
          </div>
          <div
            class="product__buttons--container product__buttons--container--white"
          >
            <button
              data-slid="1"
              class="button product__button--white"
            ></button>
          </div>
        </div>
        <ul class="product__list">
          <li class="product__items">
            <a class="product__link" href="#" data-aos="fade-right">Availability in stores</a>
            <svg class="product__icon">
              <use
                href="./images/symbol-defs copy.svg#icon-arrow-up-right2"
              ></use>
            </svg>
          </li>
          <li class="product__items">
            <a class="product__link" href="#" data-aos="fade-right">Characteristics</a>
            <svg class="product__icon">
              <use
                href="./images/symbol-defs copy.svg#icon-arrow-up-right2"
              ></use>
            </svg>
          </li>
          <li class="product__items"> 
            <a class="product__link" href="#" data-aos="fade-right">Payment and delivery methods</a>
            <svg class="product__icon">
              <use
                href="./images/symbol-defs copy.svg#icon-arrow-up-right2"
              ></use>
            </svg>
          </li>
        </ul>
        <div class="product__money">
          <h3 class="product__subtitel" data-aos="fade-right">14 999 UAH</h3>
          <button class="product__money--button draw">
            <span class="product__span" >ORDER</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
