<section class="section">
    <div class="container slider-video">
      <div class="slider-video">
        <ul  class="slider-video__list"  data-slider>
          <li class="slider-video__item">
            <h3 class=" slider-video__text--none2  slider-video__text--none">reviews</h3>
            <iframe
              class="slider-video__video"
              src="https://www.youtube.com/embed/VqP11Ma_2Fk"
              title="Bose | Bose Noise Cancelling Headphones 700 | Everybody’s Talking"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
            <div >            <h3 class=" slider-video__text--none1 slider-video__text--none">reviews</h3>
                <h4 class="slider-video__text" >Bose Сorporation</h4>
                <p class="slider-video__text--p">
                  Critically acclaimed for their powerful noise cancelling,
                  astonishing sound, and unrivaled voice pickup, Bose Noise Cancelling
                  Headphones 700 help turn any space into the perfect place to listen
                  to music, get work done, or just shut out the world for a few
                  moments and relax
                </p></div>

          </li>
          <li class="slider-video__item">
            <h3 class=" slider-video__text--none2 slider-video__text--none">reviews</h3>
            <iframe
              class="slider-video__video"
              src="https://www.youtube.com/embed/BUyLpf-u97Y"
              title="Bose Noise Cancelling Headphones 700 | Design and innovation as one"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
            <div >   <h3 class=" slider-video__text--none slider-video__text--none1">reviews</h3>
                <h4 class="slider-video__text">Bose Сorporation</h4>
                <p class="slider-video__text--p">
                  Bose Noise Cancelling Headphones 700 deliver everything you expect —
                  and things you never imagined possible. The perfect balance of
                  quiet, comfort, and sound
                </p></div>
            
          </li>
          <li  class="slider-video__item">
            <h3 class="slider-video__text--none slider-video__text--none2">reviews</h3>
            <iframe
              class="slider-video__video"
              src="https://www.youtube.com/embed/NgtznBDFRUo"
              title="Bose | Power of Sound - Open Your Heart and Mind with Infinite Possibilities"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
            <div > <h3 class="slider-video__text--none  slider-video__text--none1">reviews</h3>
                <h4 class="slider-video__text">Bose Сorporation</h4>
                <p class="slider-video__text--p">
                  Real stories of people tuning in or out to feel peace, find escape,
                  and for self-care
                </p></div>
           
          </li>
        </ul>
      </div>
      <ul class="pagination"   data-pagination>
        <li class="pagination__item"><button class="pagination__button"  data-slide="0" type="pagination__button">01</button></li>
        <li class="pagination__item"><button class="pagination__button"  data-slide="1" type="pagination__button">02</button></li>
        <li class="pagination__item"><button class="pagination__button "  data-slide="2" type="pagination__button">03</button></li>
        <li class="pagination__item"><button class="pagination__button "  data-slide="3" type="pagination__button">04</button></li>
      </ul>
    </div>
  </section>