<div class="container-wide technology__container">
  <div class="technology__description">
    <h2 class="technology__name">BOSE AR</h2>
    <h3 class="technology__title">Brand name technology</h3>
    <p class="technology__text">
      Bose AR is a unique audio platform augmented reality, that opens before
      you new facets of sound. It allows you to stay connected to the real world
      and immerse yourself in the virtual universe at the same time.
    </p>
  </div>
  <picture class="technology__image">
    <source
      srcset="
        ./images/technology/technology.png    1x,
        ./images/technology/technology@2x.png 2x
      "
    />
    <source
      srcset="
        ./images/technology/technology.webp    1x,
        ./images/technology/technology@2x.webp 2x
      "
    />
    <img
      class="technology__photo"
      src="./images/technology/technology.png "
      alt="technology"
    />
  </picture>
</div>
