.Feedback-button  {
font-weight: 600;
font-size: 16px;
letter-spacing: 0.02em;
text-transform: uppercase;
color: $color-text-primary;
border: 1px solid $color-marker;
 width: 100%;
 height: 58px;
margin-top: 40px;
transition:   color, border-color , 0.5s linear;
}
.Feedback-button:hover  {
  
   color:  $color-marker;
  border-color: $color-text-title ;
  }
  

@media (min-width: 768px) {
   
    .Feedback-button{

        width: 294px;
        height: 58px;
    }

}


@media (min-width: 1240px) {
    .Feedback-button{
        width: 510px;
        height: 68px;
    }
    
}
 