.design__container {
  display: flex;
  //   justify-content: start;
}
.design__photo {
  max-width: 590px;
}
.design__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 54px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $color-text-title;
}
.design__title-secondary {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 28px;
  line-height: 125%;
  color: $color-text-title;
}
.design__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 145%;
  color: rgba(255, 255, 255, 0.8);
}
