.faq {
  display: flex;
  align-items: center;
}
.faq__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $color-text-title;
  margin-bottom: 32px;
}
.faq__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.faq__irem::after {
  content: '';
  height: 2px;
  width: 100%;
  color: $color-text-title;
}
.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.question__number {
  font-family: $secondFamily;
  font-size: 20px;
  line-height: 0.7;
  color: $color-text-title;
}
.question__name {
  color: $color-text-title;
  opacity: 0.8;
  align-self: flex-start;
}
.question__img {
  width: 32px;
  height: 32px;
  background-color: $color-text-title;
  opacity: 0.2;
  border-radius: 15px;
}
.question__icon {
  fill: $color-text-title;
}
@media (min-width: 768px) {
  .faq {
    padding-top: 100px;
  }
  .faq__title {
    font-size: 30px;
  }

  .question__img {
    align-self: flex-end;
  }
}
@media (min-width: 1200px) {
  .faq {
    padding-top: 100px;
  }
  .faq__title {
    font-size: 54px;
  }
  .question__number {
    font-size: 28px;
  }
  .question__name {
    font-size: 28px;
  }
  .question__img {
    width: 42px;
    height: 42px;
  }
}
