.footer {
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer__lists {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  margin-bottom: 52px;
}
.footer__list {
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.footer__list--2 {
  align-items: flex-end;
}
.footer__link {
  @include color-opacity($color-text-title, 0.3);
}
.number__text {
  display: flex;
  align-items: baseline;
}
.number__link {
  font-family: $thirdFamily;
  font-size: 16px;
  @include color-opacity($color-text-title, 0.8);
}
@media (min-width: 480px) {
  .number__text {
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .footer__container {
    display: flex;
    justify-content: space-around;
  }
  .footer__lists {
    gap: 140px;
  }
  .footer__list--2 {
    gap: 25px;
    align-items: flex-start;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding-top: 170px;
    padding-bottom: 75px;
  }
  .footer__container {
    justify-content: space-between;
  }
  .footer__lists {
    gap: 50px;
  }
  .footer__list {
    gap: 50px;
    flex-direction: row;
  }
  .footer__link {
    font-size: 16px;
  }
}
