.guarantees {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.guarantees__container {
  margin-bottom: 25px;
  padding-top: 25px;
  position: relative;
}
.guarantees__icon {
  width: 13px;
  height: 13px;
  fill: $color-marker;
  position: absolute;
  top: -6;
  left: 0;
}
.guarantees__titel {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 70px;
}
.guarantees__subtitel {
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  margin-bottom: 16px;
}
.guarantees__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  color: rgba(255, 255, 255, 0.8);
}
.gearantees__photo {
  width: 590px;
  height: 565px;
}
@media (min-width: 768px) {
  .guarantees {
    padding-left: 0px;
    padding-right: 0px;
  }
  .guarantees__container {
    margin-bottom: 69px;
    padding-top: 25px;
    position: relative;
  }
  .guarantees__container--active {
    margin-bottom: 17px;
  }
  .container__flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 4%;
  }
  .gearantees__photo {
    width: 50%;
    max-height: 565px;
    margin-left: 0;
  }
  .gearantees__info--container {
    margin-right: 6%;
  }
  .guarantees__subtitel {
    margin-bottom: 20px;
  }
  .guarantees__text {
    width: 70%;
  }
}
@media (min-width: 1440px) {
  .gearantees__photo {
    width: 50%;
    max-height: 50%;
    margin-left: 0;
  }
}

