.guarantees__container {
  padding-bottom: 50px;
}
.guarantees__texts {
  padding-left: 20px;
  padding-right: 20px;

  position: relative;
}
.guarantees__container--active {
  margin-top: 60px;
}
.guarantees__icon {
  width: 13px;
  height: 13px;
  fill: $color-marker;
  position: absolute;
  top: -25;
  left: 17px;
}
.guarantees__titel {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.gearantees__info--container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.guarantees__subtitel {
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  margin-bottom: 16px;
}
.guarantees__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  color: rgba(255, 255, 255, 0.8);
}
// .gearantees__photo {
//   width: 590px;
//   height: 565px;
// }
@media (min-width: 768px) {
  .guarantees__container {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 100px;
  }
  .guarantees__titel {
    font-size: 30px;
  }
  .gearantees__info--container {
    flex-direction: row-reverse;
    gap: 60px;
    align-items: center;
  }
  .guarantees__texts {
    padding-top: 25px;
    position: relative;
  }
  .guarantees__container--active {
    margin-bottom: 17px;
  }
  .guarantees__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 4%;
  }
  .gearantees__photo {
    width: 50%;
    max-height: 565px;
    margin-left: 0;
  }
  .guarantees__titel {
    margin-bottom: 30px;
  }
  .guarantees__subtitel {
    margin-bottom: 20px;
  }
  .guarantees__text {
    width: 70%;
  }
}
@media (min-width: 1200px) {
  .guarantees__container {
    padding-bottom: 170px;
  }
  .gearantees__info--container {
    flex-direction: row-reverse;
    gap: 150px;
    align-items: flex-start;
  }
  .guarantees__titel {
    font-size: 54px;
    margin-bottom: 50px;
  }
  .gearantees__photo {
    width: 50%;
    max-height: 50%;
    margin-left: 0;
  }
}
