// HEADER
.header {
  background-color: $color-background;
  padding-top: 30px;
  padding-bottom: 64px;
}
// CONTAINER
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// LOGOTYPE
.header__logotype {
  z-index: 2;
}
// NAVIGATION
.nav__list {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 24px;
}
.nav__link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  color: rgba(255, 255, 255, 0.8);
}
.nav__link::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #fff;
  position: absolute;
  bottom: -15px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: right;
}
.nav__link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
// MOBIL MENNU
.header__mobilmenu {
  padding-top: 100px;
  padding-left: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-background;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
}
.header__mobilmenu.open {
  transform: translateX(0);
}
// BTN OPEN MOBIL MENNU
.header__btn {
  position: relative;
  z-index: 2;
  width: 22px;
  height: 12px;
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
}
.header__btn--icon {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  background-color: $color-text-primary;
  transform: translateY(-50%);
  transition: transform 0.5s ease;
  height: 2px;
}
.open ~ .header__btn .header__btn--icon {
  transform: translateY(-50%) rotate(45deg);
}
.open ~ .header__btn::before {
  transform: translateY(-50%) rotate(45deg);
  top: 50%;
}
.open ~ .header__btn::after {
  transform: translateY(-50%) rotate(-45deg);
  top: 50%;
}
// ADAPTIVE
@media (min-width: 768px) {
  .header {
    padding-top: 50px;
  }
  .nav__link {
    font-size: 16px;
  }
  .header__mobilmenu {
    padding-top: 120px;
    padding-left: 60px;
    top: 0;
    left: 0;
    width: 100%;
    height: 370px;
    box-shadow: 0 20px 80px 0 #000;
    position: fixed;
  }
}
@media (min-width: 1200px) {
  .header__mobilmenu {
    transform: translate(0);
    padding-top: 0;
    padding-left: 0;
    height: auto;
    width: auto;
    position: static;
    display: flex;
    background-color: transparent;
  }
  .header__btn {
    display: none;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    gap: 77px;
    background-color: $color-background;
  }
}
