.hero {
  padding-bottom: 50px;
}
.hero__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}
.hero__texts {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex-grow: 1;
}
.text__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.hero__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  color: $color-text-primary;
  opacity: 0.8;
}
.hero__titl {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}
.hero__title {
  color: $color-text-title;
  font-weight: 600;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.hero__button {
  color: $color-text-primary;
  padding: 19px 113px;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background-color: $color-marker;
  border: 2px solid $color-marker;
  transition: color 0.5s ease, background-color 0.5s ease;
}
.hero__button:hover {
  color: $color-text-primary;
  background-color: $color-background;
}

@media (min-width: 768px) {
  .hero__container {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 60px;

    padding-left: 10%;
    padding-right: 0;
  }
  .hero__texts {
    gap: 90px;
  }
  .hero__text {
    font-size: 16px;
  }
  .hero__titl {
    gap: 40px;
  }
  .hero__title {
    font-size: 42px;
  }
  .hero__image {
    width: 480px;
  }
}
@media (min-width: 1200px) {
  .hero__container {
    padding-left: 10%;
    padding-right: 0;
  }
  .hero__text {
    font-size: 16px;
  }
  .hero__titl {
    gap: 80px;
    padding-left: 110px;
    align-items: flex-start;
  }
  .hero__title {
    font-size: 74px;
  }
  .hero__button {
    padding: 22px 160px;
  }
  .hero__image {
    width: 700px;
  }
}
