.history {
  padding-bottom: 50px;
}
.history__titel,
.history__titel--two {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $color-text-title;
  margin-bottom: 30px;
  width: 29%;
}
.history__text,
.history__text--two,
.history__text--active {
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  @include color-opacity($color-text-primary, 0.8);
  margin-bottom: 30px;
}
.history__photo,
.history__img {
  margin-bottom: 30px;
}
.history__titel--two,
.history__text--two {
  display: none;
}
.dreams__titel {
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  color: $color-text-title;
  margin-bottom: 30px;
}
.dreams__subtitel {
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  color: rgba(255, 255, 255, 0.4);
}
.dreams {
  padding-top: 50px;
  background-image: url(../images/history/history-comas.svg);
  background-position: top left;
  background-repeat: no-repeat;
}
.history__text--active--two {
  display: none;
}

@media (min-width: 768px) {
  .history {
    padding-inline: 0px;
    padding-bottom: 100px;
  }
  .history__titel--two,
  .history__text--two,
  .history__text--active {
    display: block;
    display: flex;
  }
  .history__text--two {
    margin-bottom: 85px;
  }
  .history__titel,
  .history__text {
    display: none;
  }
  .history__info--first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    gap: 15%;
  }
  .flex__container {
    width: 100%;
  }
  .history__photo {
    width: 50%;
  }
  .history__text--active {
    display: none;
  }
  .history__text--active--two {
    display: block;
  }
  .history__info--last {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
    max-width: 1060px;
  }
  .boze {
    display: flex;
    flex-direction: column;
    column-gap: 170px;
    position: relative;
    height: 100%;
  }
  .history__text--active--two {
    margin-bottom: 30%;
  }
  .history__container {
    margin-left: 10%;
  }
}
@media (min-width: 1200px) {
  .history {
    padding-bottom: 170px;
  }
  .flex__container {
    width: 40%;
  }
  .history__titel--two {
    font-weight: 600;
    font-size: 54px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  .history__text--two {
    font-weight: 400;
    font-size: 20px;
    line-height: 145%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 74px;
  }
  .dreams__titel {
    font-weight: 600;
    font-size: 28px;
    line-height: 125%;
  }
  .dreams__subtitel {
    font-weight: 400;
    font-size: 16px;
    line-height: 70%;
    color: rgba(255, 255, 255, 0.4);
  }
  .history__text--active--two {
    font-weight: 400;
    font-size: 20px;
    line-height: 145%;
    color: rgba(255, 255, 255, 0.8);
  }
  .history__text--activee {
    display: block;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 145%;
    color: rgba(255, 255, 255, 0.8);
  }
  .history__container {
    flex-direction: column;
  }
}
