.product__titel {
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $color-text-title;
}
.product__items {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: rgba(255, 255, 255, 0.8);
}
.product__subtitel {
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $color-marker;
}
.product__money--button {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  padding: 17px 114px;
  background-color: $color-marker;
}
.product__buttons {
  display: flex;
  gap: 25px;
  align-items: center;
}
.button {
  width: 40px;
  height: 40px;
  margin: 10px;
  border: 3px solid transparent;
  border-radius: 50%;
  background-color: $color-headphone;
  cursor: pointer;
  transition: border-color 0.3s;
}
.button.active {
  border-color: $color-marker;
}

/* Дополнительные стили для белой кнопки */
.product__button--white {
  background-color: $color-text-primary;
}

.product__buttons--container {
  background-color: $color-background;
  border-radius: 50%;
  border: 2px solid $color-text-primary;
}
.product__buttons--container--white {
  background-color: $color-text-title;
  border-radius: 50%;
  border: 2px solid $color-text-primary;
}
section {
  background-color: $color-background;
}
