.silence {
    margin-top: 500px;
    margin-bottom: 500px;
}
.silence__title {
    color: $color-text-title;
    font-weight: 600;
    font-size: 54px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.silence__container {
    width: 510px;
    height: 169px;
}
.silence__container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}
.silence__container__title {
    color: $color-text-title;
    font-weight: 600;
    font-size: 28px;
    line-height: 125%;
}
.silence__text {
    color: #ffffffa9;
    font-weight: 400;
    font-size: 20px;
    line-height: 145%;
}