.technology__container {
  padding-bottom: 55px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.technology__description {
  display: flex;
  flex-direction: column;
}
.technology__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $color-text-title;
  margin-bottom: 30px;
}
.technology__title {
  font-weight: 600;
  font-size: 20px;
  color: $color-text-title;
  margin-bottom: 16px;
}
.technology__text {
  color: $color-text-primary;
  opacity: 0.8;
}
@media (min-width: 768px) {
  .technology__container {
    flex-direction: row;
    gap: 60px;
    padding-right: 0;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .technology__name {
    font-size: 30px;
  }
  .technology__text {
    line-height: 1.45;
    max-width: 290px;
  }
  .technology__image {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .technology__container {
    padding-bottom: 170px;
    gap: 170px;
    margin-left: 0;
  }

  .technology__name {
    font-size: 55px;
    margin-bottom: 50px;
  }
  .technology__title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .technology__text {
    font-size: 20px;
    min-width: 380px;
  }
}
